# test with two different settings:
# - the default is to test with NLOPT and BAT
# - the second test is done without these two additional packages

# use Ubuntu 14.04
dist: trusty

cache:
  ccache: true
  directories:
    - deps

language: cpp

# packages required in all cases
required_packages: &required_packages
  - git
  - dpkg-dev
  - make
  - g++
  - gcc
  - binutils
  - libx11-dev
  - libxpm-dev
  - libxft-dev
  - libxext-dev
  - gfortran
  - libssl-dev
  - libpcre3-dev
  - xlibmesa-glu-dev
  - libglew1.5-dev
  - libftgl-dev
  - libmysqlclient-dev
  - libfftw3-dev
  - cfitsio-dev
  - graphviz-dev
  - libavahi-compat-libdnssd-dev
  - libldap2-dev
  - python-dev
  - libxml2-dev
  - libkrb5-dev
  - libgsl0-dev
  - libqt4-dev
  - libconfig++-dev

# configure custom dependencies
env:
    global:
      - CMAKE_VERSION="3.11.0"
      # CMake version that comes with Travis' trusty image is only 3.9.2
      - BOOST_VERSION="1.67.0"
      # apt package 'libboost-all-dev' in Travis' trusty image has only 1.54.0
      - YAML_VERSION="0.6.0"
      # apt package 'libyaml-cpp-dev' in Travis' trusty image has only 0.5
      - ROOT_VERSION="6.08.00"
      - BAT_VERSION="1.0.0"

matrix:
    include:
      - env: TRAVIS_RPWA_RUN_BUILD=1 TRAVIS_RPWA_USE_BAT=1
        addons:
            apt:
                packages:
                  - *required_packages
                  - libnlopt-dev
                update: true
      - env: TRAVIS_RPWA_RUN_BUILD=1
        addons:
            apt:
                packages:
                  - *required_packages
                update: true
      - env: TRAVIS_RPWA_RUN_FORMAT=1

# send mails if a build fails
notifications:
    email:
        recipients: rootpwa-push-notifications@lists.sourceforge.net
        on_success: change
        on_failure: always

before_install:
    - pyenv global system
    - pip install --user pylint==1.7.1 numpy
install:
    - ./travisCI/install-cmake.sh
    - export PATH=${TRAVIS_BUILD_DIR}/deps/cmake/bin:${PATH}
    - ./travisCI/install-boost.sh
    - export BOOST_ROOT=${TRAVIS_BUILD_DIR}/deps/boost
    - ./travisCI/install-yaml.sh
    - export YAML_CPP=${TRAVIS_BUILD_DIR}/deps/yaml
    - ./travisCI/install-root.sh
    - . "${TRAVIS_BUILD_DIR}"/deps/root/bin/thisroot.sh
    - if [ ${TRAVIS_RPWA_USE_BAT:-0} -eq 1 ] ; then ./travisCI/install-bat.sh ; export BATINSTALLDIR=${TRAVIS_BUILD_DIR}/deps/bat ; export PATH=${BATINSTALLDIR}/bin:${PATH} ; fi
    - ./travisCI/clean.sh
script:
    - ./travisCI/run.sh
