[general]

particleDataTable                      = $ROOTPWA/particleData/particleDataTable.txt
fileManagerPath                        = fileManager.pkl
dataFileDirectory                      = data
keyFileDirectory                       = keyfiles
ampFileDirectory                       = amps
intFileDirectory                       = ints

# -1 for no limit, 0 for subfolder for each binID
limitFilesPerDir                       = -1

integralBinning                        = [ ]

[amplitude]

; These two values only need to be set if a relativistic
; Breit-Wigner is used for a decay where one of the daughter
; particles is not stable. Otherwise they can be left as is.
phaseSpaceIntegralDirectory            = ""
phaseSpaceUpperMassBound               = 0.

[fit]

treeName                   = pwa
fitResultBranch            = fitResult_v2


[other]

phaseSpaceWeightFileExtensionQualifier = genbod.weighted
accCorrPSWeightFileExtensionQualifier  = acc.weighted
phaseSpaceAmpDirectoryName             = PSPAMPS
accCorrPSAmpDirectoryName              = ACCAMPS
weightTreeName                         = rootPwaWeightTree
