
[general]

particleDataTable                      = $ROOTPWA/particleData/particleDataTable.txt
massBinDirectoryNamePattern            = *[0-9][0-9][0-9].*[0-9][0-9][0-9]
fileManagerPath                        = $ROOTPWA/pyInterface/fileManager.p

dataFileDirectory                      = ../DATA/rpwaV3_data

phaseSpaceWeightFileExtensionQualifier = genbod.weighted
accCorrPSWeightFileExtensionQualifier  = acc.weighted

[amplitudes]

keyfiles                   = ~/analysis/isospin_sym_test/keys/*;
                             ~/analysis/keys

keyFileDirectory                       = ../DATA/keyfiles
ampFileDirectory                       = ../DATA/amps

# -1 for no limit, 0 for subfolder for each binID
limitFilesPerDir                       = 51837

dataAmplitudeDirectoryName = AMPS
phaseSpaceAmpDirectoryName = PSPAMPS
accCorrPSAmpDirectoryName  = ACCAMPS

weightTreeName             = rootPwaWeightTree

[fit]

treeName                   = pwa
fitResultBranch            = fitResult_v2
