
[general]

particleDataTable = $ROOTPWA/amplitude/particleDataTable.txt

[amplitudes]

keyfiles                 = ~/analysis/isospin_sym_test/keys/
#keyfiles                 = /home/kbicker/analysis/keys/1-0-00+f01370=a11260-=rho770_01_pi-_11_pi+_00_pi-.key

amplitudeLeafName        = amplitude
inTreeName               = rootPwaEvtTree
prodKinPartNamesObjName  = prodKinParticles
prodKinMomentaLeafName   = prodKinMomenta
decayKinPartNamesObjName = decayKinParticles
decayKinMomentaLeafName  = decayKinMomenta

fileNameConvention       = new

outputFileFormat         = binary
