
[general]

particleDataTable                     = $ROOTPWA/amplitude/particleDataTable.txt
massBinDirectoryNamePattern           = [0-9][0-9][0-9][0-9].[0-9][0-9][0-9][0-9]

dataDirectory                         =

dataFileExtensionQualifier            =
phaseSpaceEventFileExtenisonQualifier = genbod
accCorrPSEventFileExtensionQualifier  = acc

[amplitudes]

keyfiles                   = ~/analysis/isospin_sym_test/keys/*;
                             ~/analysis/keys

dataAmplitudeDirectoryName = AMPS
phaseSpaceAmpDirectoryName = PSPAMPS
accCorrPSAmpDirectoryName  = ACCAMPS

amplitudeLeafName          = amplitude
inTreeName                 = rootPwaEvtTree
prodKinPartNamesObjName    = prodKinParticles
prodKinMomentaLeafName     = prodKinMomenta
decayKinPartNamesObjName   = decayKinParticles
decayKinMomentaLeafName    = decayKinMomenta

fileNameConvention         = new

outputFileFormat           = binary

